<nav class="navbar navbar-expand-lg navbar-dark bg-primary margin-top-15">
    <div class="container no-margin-top">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="navbar-brand" href="/">
                <img src="{{ asset('penis.png') }}" alt="PENIS" class="img-thumbnail">
                {{ app.user.username }}
            </a>
        {% else %}
            <a class="navbar-brand" href="/">
                <img src="/penis.png" alt="PENIS" class="img-thumbnail">
                Lingvo</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url('vocabulary_words', {username: node.user.username}) }}">Vocabulary <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Translate">
                <button class="btn btn-success my-2 my-sm-0" type="submit">Translate</button>
            </form>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link log-out" href="{{ path('security_log_out') }}">LOG OUT</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link log-out" href="{{ path('security_check_in') }}">REGISTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link log-out" href="{{ path('security_login') }}">LOG IN</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>