<nav class="navbar navbar-expand-lg navbar-dark bg-primary margin-top-15">
    <div class="container no-margin-top">
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url('suprime_card_add') }}">Add Card</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url('suprime_card_list') }}">Card List</a>
                </li>
            </ul>
        </div>
    </div>
</nav>