{% extends "@lingvo/main_layout.html.twig" %}

{% form_theme form '@lingvo/form/fields.html.twig' %}

{% block container %}

    <div class="form-wrapper form-wrapper-center">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <p class="bs-component margin-top-30">
            <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
        </p>
        {{ form_end(form) }}
    </div>

{% endblock %}