body{
    min-height: 100vh;
}

.container {
    margin-top: 15px;
}

.no-margin-top {
    margin-top: 0px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.navbar-brand img {
    width: 40px;
    border: none;
    background-color: inherit;
}

.invalid-feedback {
    display: block;
    color: #ffa061;
}

.form-wrapper-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto 10px;
    min-height: calc(100vh - 160px);
}

.form-wrapper-center form{
    width: 100%;
}

.log-out {
    font-weight: 700;
}

.index-search-w-100{
    max-width: 100% !important;
}

.custom-control.custom-radio.form-group  {
    padding-left: 0px;
    height: 0px;
}

.custom-control.custom-radio.form-group .form-group {
    display: inline-block;
    padding-left: 40px;
}

.search-res {
    margin-top: 15px;
}

.w-15 {
    width: 15% !important;
}
.w-20 {
    width: 20% !important;
}
.w-30 {
    width: 30% !important;
}