{# alert-danger   ||    alert-primary     ||      alert-success #}

{% for message in app.flashes('success') %}
    <div class="alert alert-dismissible alert-success" data-flash-msg>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ message }}</strong>
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-dismissible alert-danger" data-flash-msg>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ message }}</strong>
    </div>
{% endfor %}

{% for message in app.flashes('other') %}
    <div class="alert alert-dismissible alert-primary" data-flash-msg>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ message }}</strong>
    </div>
{% endfor %}