{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="invalid-feedback">{{ error.message }}</div>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form -%}
    <fieldset>
        {{ form_start(form) }}
        {{- form_widget(form) -}}
        {{ form_end(form) }}
    </fieldset>
{%- endblock form -%}

{%- block form_row -%}
    <div {{ block('widget_container_attributes') }}>
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input
            type="{{ type }}"
            class="form-control"
            {{ block('widget_attributes') }}
            placeholder="{{ label }}"
            {% if value is not empty %}
                value="{{ value }}"
            {% endif %}/>
{%- endblock form_widget_simple -%}

{%- block form_widget -%}
    {% if compound %}
        {{- block('form_widget_compound') -}}
    {% else %}
        {{- block('form_widget_simple') -}}
    {% endif %}
{%- endblock form_widget -%}

{%- block textarea_widget -%}
    <textarea class="form-control"
              rows="5" {{ block('widget_attributes') }}
              style="margin-top: 0px; margin-bottom: 0px; height: 120px;">{{ value }}</textarea>
{%- endblock textarea_widget -%}

{%- block email_widget -%}
    {%- set type = type|default('text') -%}
        <input
                type="{{ type }}"
                class="form-control"
                {{ block('widget_attributes') }}
                aria-describedby="emailHelp"
                placeholder="Enter email"
                {% if value is not empty %}
                    value="{{ value }}"
                {% endif %}/>
{%- endblock email_widget -%}

{%- block choice_widget_expanded -%}
    {%- for child in form %}
    <div {{ block('widget_attributes') }}>
        {{- form_widget(child) -}}
        {{- form_label(child, null, {translation_domain: choice_translation_domain, 'label_attr': {'class': 'custom-control-label'}} ) -}}
    </div>
    {% endfor -%}
{%- endblock choice_widget_expanded -%}

{%- block radio_widget -%}
    <input type="radio" {{ block('widget_attributes') }} class="custom-control-input custom-radio" {% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}>
{%- endblock radio_widget -%}