<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ node.description }}">
    <meta name="title" content="{{ node.title }}">
    <meta name="author" content="">

    <title>{{ node.title }}</title>

    {# BOOTSTRAP #}
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}"/>
    {# CUSTOM CSS #}
    <link rel="stylesheet" href="{{ asset('assets/custom/css/style.css') }}"/>

    {% block style %}{% endblock %}

</head>

<body>


{% include '@lingvo/headers/main_header.html.twig' %}

{% if is_granted('ROLE_SUPERADMIN') %}
    {% include '@lingvo/headers/superadmin_header.html.twig' %}
{% endif %}

<div class="container">

    {% include '@lingvo/flash/flash.html.twig' %}

    {% block container %}{% endblock %}

</div>

<script src="{{ asset('assets/jquery/js/jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ asset('assets/popper/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/custom/js/main.js') }}"></script>

{% block javascript %}{% endblock %}
</body>
</html>
