{% extends '@lingvo/main_layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block container %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}