{% extends '@lingvo/main_layout.html.twig' %}

{% form_theme searchForm 'bootstrap_4_layout.html.twig' %}

{% block container %}

    <div>
        {{ form_start(searchForm) }}
        {{ form_widget(searchForm) }}
        {{ form_end(searchForm) }}
    </div>
    {% set count = result|length %}

    {% for card in result %}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#main{{ card.id }}"># {{ count }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#info{{ card.id }}">Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#controls{{ card.id }}">Controls</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content" style="border-bottom: 2px solid;">
            <div style="padding-top: 15px;" class="tab-pane fade active show" id="main{{ card.id }}">
                <p class="text-success">{{ card.cardNumber }}</p>
                <p>
                    Is active :
                    {% if card.isActive %}
                    <span class="badge badge-success">TRUE</span>
                    {% else %}
                    <span class="badge badge-danger">FALSE</span>
                    {% endif %}
                </p>
                <p>
                    Is Using :
                    {% if card.isUsing %}
                        <span class="badge badge-success">TRUE</span>
                    {% else %}
                        <span class="badge badge-danger">FALSE</span>
                    {% endif %}
                </p>
                {% if card.isUsing %}
                <p>
                    Buy Information : <br>
                    {{ card.buyInformation }}
                </p>
                {% endif %}
            </div>
            <div style="padding-top: 15px;" class="tab-pane fade" id="info{{ card.id }}">
                <p>
                    {{ card.json|jsonDecode()|raw }}
                </p>
            </div>
            <div style="padding-top: 15px;" class="tab-pane fade" id="controls{{ card.id }}">
               <p>
                   <a href="{{ path('suprime_card_delete', {'id': card.id}) }}" class="btn btn-danger">DELETE</a>
                   <a href="{{ path('suprime_card_change', {'id': card.id}) }}" class="btn btn-info">CHANGE</a>
               </p>
            </div>
        </div>
        {% set count = count - 1 %}
    {% endfor %}
{% endblock %}