{% set word = result.word %}
{% set sourceL = result.SourceLanguage %}
{% set targetL = result.TargetLanguage %}

    {#{{ dump(formAddWordToList) }}#}

<div class="search-res">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="w-30" scope="col">Word</th>
            <th scope="col">Translates</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-active">
        {% for res in result.resultMass %}
            <tr class="table-dark">
            {% if word is not empty %}
                <th class="w-30" scope="row">
                    {{ word }}
                    <form action="{{ path('l_management_add_word') }}" style="display: inline-block; margin-left: 10px;" method="post">
                        <input type="hidden" name="{{ formAddWordToList._token.vars.full_name }}" style="display: none;" value="{{ formAddWordToList._token.vars.value }}">
                        <input type="text" name="{{ formAddWordToList.word.vars.full_name }}" style="display: none;" value="{{ word }}">
                        <input type="text" name="{{ formAddWordToList.sourceL.vars.full_name }}" style="display: none;" value="{{ sourceL }}">
                        <input type="text" name="{{ formAddWordToList.targetL.vars.full_name }}" style="display: none;" value="{{ targetL }}">
                        <input class="btn badge badge-pill badge-success" style="display: inline-block;" type="submit" value="+">
                    </form>
                </th>
            {% else %}
            <th class="w-30" scope="row">
            </th>
            {% endif %}
                <td>{{ res }}</td>
            </tr>
        {% set word = '' %}
        {% endfor %}
        </tr>
        </tbody>
    </table>
</div>