
<div class="search-res">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="w-30" scope="col">Word</th>
            <th scope="col">Translates</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-active">
            <tr class="table-dark">

                <th class="w-30" scope="row">
                    test
                </th>
                <td>
                    test
                </td>
            </tr>
            <tr class="table-dark">
                <th class="w-30" scope="row">
                    test
                </th>
                <td>
                    test
                </td>
            </tr>
        </tr>
        </tbody>
    </table>
    {{ dump(results) }}
</div>