{% extends '@lingvo/main_layout.html.twig' %}

{% form_theme formSearch '@lingvo/form/fields.html.twig' %}

{% block container %}
    <div class="form-wrapper {% if result is empty %}form-wrapper-center{% endif %} index-search-w-100">
        {{ form_start(formSearch) }}
        {{ form_widget(formSearch) }}
        <button class="btn btn-success my-2 my-sm-0" type="submit">Translate</button>
        {{ form_end(formSearch) }}
    </div>
    {% if result is not empty %}
        {% include '@lingvo/Components/search_results.html.twig' %}
    {% endif %}
{% endblock %}